@model AvailableHotelsViewModel
@await Html.PartialAsync("_Navbar")
@await Html.PartialAsync("_SearchBlock", Model)

<div class="d-flex flex-row">
	@await Html.PartialAsync("_HotelsFilter")
	<div class="accordion mx-2" id="accordionExample" style="width: 100%">
		@for (int i = 0; i < Model.Hotels.Count; i++)
		{
			<div class="accordion-item">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					<div class="hotel-card mx-2">
						<div class="row px-1">
							<div class="col-9">
								<h1>@Model.Hotels[i].HotelName</h1>
							</div>
							<div class="col-3 d-flex align-items-center justify-content-center">
								<div class="hotel-rating rounded-circle">
									<span>@Model.Hotels[i].HotelRating</span>
								</div>
							</div>
						</div>
						<div class="row px-1">
							<div class="col">
								<h3>@Model.Hotels[i].HotelAddress</h3>
							</div>
						</div>
						<div class="row px-1">
							<div class="col-10">
								<h6>@Model.Hotels[i].DistanceFromCenter км от центра</h6>
							</div>
						</div>
					</div>
				</button>
				<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Тип номера</th>
									<th scope="col">Площадь, м<sup>2</sup></th>
									<th scope="col">Семейный номер</th>
									<th scope="col">Цена</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>
								@for (int j = 0; j < Model.Hotels[i].Rooms.Count; j++)
								{
									<tr>
										<th scope="row">@(j + 1)</th>
										@switch (Model.Hotels[i].Rooms[j].Type)
										{
											case RoomTypeEnum.SGL:
												<td>Номер с односпальной кроватью<img src="~/images/single-bed.png" /></td>
												break;
											case RoomTypeEnum.DBL:
												break;
											case RoomTypeEnum.DBL_TWN:
												<td>Номер с двуспальной кроватью<img src="~/images/dbl_twn_bed.png" /></td>
												break;
											case RoomTypeEnum.TRPL:
												break;
											default:
												break;
										}
										<td>@Model.Hotels[i].Rooms[j].Square</td>
										<td>
											@if (Model.Hotels[i].Rooms[j].IsFamilyRoom)
											{
												<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
													<path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z" />
												</svg>
											}
										</td>
										<td>@(Model.Hotels[i].Rooms[j].Price * (decimal)(Model.CheckOut - Model.CheckIn).TotalDays)&#8381;</td>
										<td>
											<form asp-action="ReserveRoom" method="post">
												<input type="number" name="roomId" value="@Model.Hotels[i].RoomId" hidden />
												<input type="datetime-local" name="checkIn" value="@Model.GetCheckIn()" hidden />
												<input type="datetime-local" name="checkOut" value="@Model.GetCheckOut()" hidden />
												<input type="number" name="price" value="@Model.Hotels[i].Price" hidden />
												<button type="submit" class="btn btn-success">Забронировать</button>
											</form>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		}
	</div>
</div>